__pycache__/     # Python 编译后的缓存文件（没用）
*.pyc            # Python 编译文件（同上）
*.pyo            # Python 优化编译文件（同上）

venv/            # 虚拟环境目录（可能叫 venv）
env/             # 虚拟环境目录（另一常见名字）
ffnn_env/        # 你项目里的虚拟环境目录，不上传

data/            # 数据集文件夹，通常体积大，不推送
wandb/           # Weights & Biases 日志缓存文件

.DS_Store        # macOS 自动生成的系统文件
.idea/           # PyCharm 等 IDE 配置文件夹
.vscode/         # VS Code 配置文件夹